<table class="BilalTable">

    <thead>
    <tr>
        <td>Username</td>
        <td>Alter</td>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    <tr ng-repeat="value in userListener"><td>{{ value }}</td></tr>
    </tbody>

</table>